<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="bg-zinc-900 text-white min-h-screen pt-5 px-4 ">
    <h1 class="text-amber-500 text-6xl font-bold w-full text-center">Topics and posts</h1>

    <!-- public topics cards -->
    <section aria-label="public topics display" class="flex flex-col mt-7"> 
        <h2 class="text-amber-500 text-4xl font-bold mb-7 pl-5">Public topics</h2>

        <div class="grid grid-cols-4 gap-4 w-full px-2">
            <% publicTopics.slice(0,4).forEach(t => { %>
            <div aria-label="conversation card"
                class="text-center bg-gray-800 rounded-lg px-3 py-5 flex flex-col gap-4">
                <h3 class="text-slate-300 text-xl font-bold"><%= t.name %></h3>

                <% const posts = displayTopics[t.id] || []; %>

                <% if (posts.length > 0) { %>
                <ul class="bg-gray-700 rounded-lg py-3 flex flex-col gap-3">
                    <% posts.slice(0,6).forEach(post => { %>
                    <li class="text-start pl-2">
                        <p class="font-bold"><%= post.title %></p>
                        <p class="text-sm"><%= post.content.slice(0,40) %>...</p>
                    </li>
                    <% }) %>
                </ul>
                <% } else { %>
                <div class="bg-gray-700 rounded-lg py-3 flex flex-col gap-3">
                    <p class="text-sm italic text-slate-400">No posts yet</p>
                </div>
                <% } %>
            </div>
            <% }) %>
        </div>

       
        <form action="/topic/all" method="get">
            <button 
            class="bg-gray-800 hover:bg-gray-700 
            hover:cursor-pointer text-center mt-2 
            py-3 text-xl font-bold rounded-lg w-full">
            All public topics 
            </button>
        </form>

    </section>

    <% if(currentuser) { %>

        <h2 class="text-amber-500 text-4xl font-bold mb-7 pl-5 mt-7">Private topics</h2>

        <% if(privateTopics && privateTopics.length > 0) {%>

            <section 
                aria-label="private topics display"
                class="flex flex-col gap-2"
                >
                <div class="grid grid-cols-4 gap-4 w-full px-6">
                    <% privateTopics.forEach(t => { %>
                        <a 
                        href="/topic/<%= t.id %>"
                        class="bg-gray-800 rounded-lg px-4 py-3 
                                hover:bg-gray-700 transition
                                border border-gray-700
                                text-slate-200 font-medium"
                        >
                            <%= t.name %>
                        </a>
                    <% }) %>
                </div>
    
            <form action="/topic/all/private" method="get">
                <button 
                    class="bg-gray-800 hover:bg-gray-700 
                    hover:cursor-pointer text-center mt-2 
                    py-3 text-xl font-bold rounded-lg w-full">
                    All private topics 
                </button>
            </form>
            </section>
        <%}%>

     
    <%}else{%>
        
        <p class="pl-5 text-amber-400 text-center mt-10">Log in to see avaliable private topics</p>

    <% }%>
  </body>


</html>
